body{
    background-color: #212121; 
    color: #fff
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    padding: 10px;
    box-sizing: border-box;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }
  h1{
    /* top: 0;
    left: 0;
    width: 100%; */
    padding: 30px;
  }
  button {
    width: 150px;
    height: 35px;
    margin-left: 110px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 20px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  button:hover {
    background-color: #f0e9e951;
    color: #fff;
}