body {
    background-color: #212121;
    color: #fff;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    padding: 10px;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
  .center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
  }