nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    padding: 10px;
    box-sizing: border-box;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }
td {
    border: 1px solid #e7e7e7;
  }
  .project {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .color {
    color: aliceblue;
    display: flex;
    flex-direction: row;
  }